.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: 100vh;
    margin: auto;
     &> img {
        width: 600px;
     }
    & > h2 {
        color: var(--fidt-color-neutral-10);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }

    & > a {
        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 0.5rem;

        padding: 0.625rem 1.5rem;
        padding-right: 1.8rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3125rem;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.2s ease-out;


        &:hover{
            filter: brightness(0.9);
        }

        color: var(--fidt-color-neutral-10);
        background-color: var(--fidt-color-primary-100);
        
    }
}