.login {
    height: 90vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    &__form {
        width: 30%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &>* {
            width: 80%;
        }
    }

    &__thumnail {
        width: 70%;
        object-fit: cover;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}