.logo {
    &-vertical {
        width: fit-content;
        padding: 4px 12px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;

        flex-direction: row;
        border-radius: 8px;

        &__logo {
            height: 25px;
            width: 24px;
            object-fit: contain;
            padding: 4px;
            background: #fff;
            border-radius: 4px;
        }
    }
}